.hidden {
    display: none;
}

.g_section {
    background-color: #FAFAFA;
}

.color_section, #div_xp {
    background: linear-gradient(45deg, #EBEBEB, #FFDEDE);
}

body {
    height: 100vh;
    font-family: sans-serif;
    margin: 0 auto;
}

#up_btn {
    position: fixed;
    bottom: 2em;
    right: 1em;
}

header {
    position: fixed;
    display: inline-block;
    width: 100%;
    background-color: white;
}

#nav_Principale {
    display: flex;
    justify-content: flex-end;
}

.btn_rempli, .btn_contour {
    border-radius: 2em;
    padding: 1.125em 2.1875em;
    font-size: .8125em;
    text-transform: uppercase;
}

.phone_btn {
    border-radius: 2em;
    background-color: rgba(4, 194, 141, 1);
    padding: 1.0909em 1.5625em;
    font-size: .6875em;
}

.phone_btn .phone_number {
    display: inline-block;
    color: white;
    margin-right: 0;
    font-weight: lighter;
}

#main_title {
    font-size: 3.6em;
    margin-bottom: .46em;
}

#presentation {
    font-size: 1.45em;
    margin-bottom: 1.5em;
}

.bold {
    font-weight: bold;
}

.btn_rempli {
    background-color: #222222;
    color: white;
}

.btn_contour {
    border: solid 2px #222222;
    color: #222222;
}

.special {
    color: white;
}

.titre_section {
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
}

.sections {
    padding-top: 8em;
    text-align: center;
}

#sous_titre {
    text-align: center;
    margin-bottom: 10em;
    line-height: 2em;
}

h3 {
    font-weight: bold;
    font-size: 2.2em;
    margin-bottom: .7em;
}

#me_rencontre {
    margin-bottom: .1em;
}

a {
    text-decoration: none;
}

.list_nav_principale, #liste_xp {
    display: flex;
}

.list_nav_principale {
    justify-content: right;
    align-items: center;
    padding: 1.5em;
}

.list_nav_principale a {
    color: black;
    margin-right: 1em;
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: bold;
}

#intro {
    background-color: #003871;
    color: white;
    padding: 16.6em 17em;
}

#mp_btn {
    margin-right: 1.3333em;
}

#liste_xp {
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
    display: grid;
    grid-template-areas:
            ". first second third ."
            ". fourth last xp_sup ."
            ". rencontre rencontre rencontre .";
    grid-auto-columns: 1fr 2fr 2fr 2fr 1fr;
    column-gap: 6em;
    row-gap: 2.7778em;
}

#java, #css, #html, #sql, #ts, #php, #pyth, #rub, #first_job, #second_job, #third_job, #fourth_job, #last_job {
    text-align: center;
}

#first_job {
    grid-area: first;
}

#second_job {
    grid-area: second;
}

#third_job {
    grid-area: third;
}

#fourth_job {
    grid-area: fourth;
}

#last_job {
    grid-area: last;
}

#plus_xp {
    grid-area: xp_sup;
    text-align: center;
}

#div_xp, aside, #div_projet {
    border: solid .3em white;
    border-radius: 1.5em;
    box-shadow: 0 0 2em lightgrey, 0 0 2em lightgrey;
}

#div_xp, #div_projet {
    padding: 2em 3em 4em 3em;
}

.p_xp {
    font-size: 2.525em;
    font-weight: bold;
    line-height: 45px;
    margin-bottom: .5em;
}

#aside_rencontre {
    grid-area: rencontre;
    text-align: center;
}

aside {
    background-color: #EBEBEB;
    padding: 3em;
}

#prendre_rdv {
    margin-bottom: 2em;
}

#languages {
    text-align: center;
}

.liens_verts {
    color: #57BF91;
}

.lien-maitrise {
    font-size: 1.38em;
    font-weight: lighter;
}

.moyenne {
    display: inline;
    line-height: 3em;
    font-size: 1.65em;
}

#liste_maitrise {
    margin-top: 2em;
    padding: 0 20em 5em;
    display: grid;
    column-gap: 4em;
    row-gap: 4em;
    grid-template-areas:
            "js css html sql"
            "ts php pyth rub";
    grid-auto-columns: 2fr 2fr 2fr 2fr;
}

#java {
    grid-area: js;
}

#css {
    grid-area: css;
}

#html {
    grid-area: html;
}

#sql {
    grid-area: sql;
}

#ts {
    grid-area: ts;
}

#php {
    grid-area: php;
}

#pyth {
    grid-area: pyth;
}

#rub {
    grid-area: rub;
}

dfn {
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2em;
}

abbr {
    text-decoration: none;
}

.star_bar {
    margin-top: .4em;
    margin-bottom: 1.5em;
}

.description_lg {
    font-size: .8em;
}

.mes_comp {
    font-size: 1.0625em;
    font-weight: lighter;
    line-height: 1.3em;
}

#phrase_contact {
    font-size: 1.625em;
    font-weight: lighter;
    margin-bottom: 1.5em;
}

#contact {
    display: flex;
    padding: 0 30em;
    flex-direction: column;
}

.input_form {
    color: black;
    font-family: sans-serif;
    font-size: 1em;
    border: 3px solid black;
    border-radius: 1.5em;
    padding-left: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: .3125em;
}

#desc {
    padding-top: 1em;
    margin-bottom: 2em;
    margin-top: 1.2em;
}

.input_form::placeholder {
    opacity: 100%;
}

.input_form:focus {
    border-color: rgba(4, 194, 141, 1);
    outline: none;
}

#check {
    text-align: left;
    margin-left: 1.0625em;
    margin-bottom: 1.5em;
}

#consent_therms {
    font-size: 1.0625em;
}


#envoyer_form {
    text-transform: uppercase;
    font-size: .8em;
    width: 20em;
    color: white;
    background-color: #707787;
    padding: 1.125em;
    border: none;
    border-radius: 2em;
    margin-bottom: 3em;
}

#titre_soft_skills {
    margin-bottom: 1.5em;
}

article {
    text-align: left;
    margin: 0 15em;
    display: flex;
    justify-content: space-evenly;
    column-gap: 3em;
}































