.g_section {
    background-color: #FAFAFA;
}

.color_section {
    background: linear-gradient(45deg, #EBEBEB, #FFDEDE);
}
body{
    font-family: Lato-Bold;
}
.phone_btn{
    padding: 1em;
    display: inline-block;
    border-radius: 2em;
    background-color: #57BF91;
}
a{
    text-decoration: none;
}